In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext()
sc

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/30 19:45:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/30 19:45:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/30 19:45:53 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/30 19:45:53 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/30 19:45:53 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [4]:
spark = SparkSession.builder.appName("Python Spark SQL basic example").getOrCreate()
spark

ANALYSIS OF PLANETS

In [5]:
df = spark.read.format("csv") \
                .option("header", "true") \
                .load("/Users/rob_the_programmer/Documents/programming/2022/statistics/statistics-python-workspace/files/other_formats/Planets_cleaned.csv")

In [6]:
df.show(10)

+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|_c0|  Planet|Mass   (10^24 kg)|Diameter (km)|Length of Day (hours)|Distance from Sun (106 km)|Orbital Period (days)|Orbital Velocity (km/s)|Mean Temperature (C)|Surface Pressure (bars)|Number of Moons|Ring System?|Global Magnetic Field?|Day of first visit|First successful mission|
+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|  0|MERCURY |             0.33|         4879|               4222.6|                      57.9|                 88.0|                   47.4|                 167|                      0|              0|          No|                   Yes|        1974-03-29|              Mariner 10|
|  1|  VENUS |             4.87|        12104|               2802.0|                     108.2|                224.7|                   35.0|                 464|                     92|              0|          No|                    No|        1962-08-27|               Mariner 2|
|  2|  EARTH |             5.97|        12756|                 24.0|                     149.6|                365.2|                   29.8|                  15|                      1|              1|          No|                   Yes|              null|                    null|
|  3|   MOON |            0.073|         3475|                708.7|                    0.384*|                 27.3|                    1.0|                 -20|                      0|              0|          No|                    No|        1959-09-12|                  Luna 2|
|  4|   MARS |            0.642|         6792|                 24.7|                     227.9|                687.0|                   24.1|                 -65|                   0.01|              2|          No|                    No|        1965-07-15|               Mariner 4|
|  5|JUPITER |           1898.0|       142984|                  9.9|                     778.6|               4331.0|                   13.1|                -110|               Unknown*|             67|         Yes|                   Yes|        1973-12-04|              Pioneer 10|
|  6| SATURN |            568.0|       120536|                 10.7|                    1433.5|              10747.0|                    9.7|                -140|               Unknown*|             62|         Yes|                   Yes|        1979-09-01|              Pioneer 11|
|  7| URANUS |             86.8|        51118|                 17.2|                    2872.5|              30589.0|                    6.8|                -195|               Unknown*|             27|         Yes|                   Yes|        1986-01-24|               Voyager 2|
|  8|NEPTUNE |            102.0|        49528|                 16.1|                    4495.1|              59800.0|                    5.4|                -200|               Unknown*|             14|         Yes|                   Yes|        1989-08-25|               Voyager 2|
|  9|   PLUTO|           0.0146|         2370|                153.3|                    5906.4|              90560.0|                    4.7|                -225|                  1e-05|              5|          No|               Unknown|        2015-07-14|            New Horizons|
+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+

22/03/30 19:46:03 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Planet, Mass   (10^24 kg), Diameter (km), Length of Day (hours), Distance from Sun (106 km), Orbital Period (days), Orbital Velocity (km/s), Mean Temperature (C), Surface Pressure (bars), Number of Moons, Ring System?, Global Magnetic Field?, Day of first visit, First successful mission
 Schema: _c0, Planet, Mass   (10^24 kg), Diameter (km), Length of Day (hours), Distance from Sun (106 km), Orbital Period (days), Orbital Velocity (km/s), Mean Temperature (C), Surface Pressure (bars), Number of Moons, Ring System?, Global Magnetic Field?, Day of first visit, First successful mission
Expected: _c0 but found:
CSV file: file:///Users/rob_the_programmer/Documents/programming/2022/statistics/statistics-python-workspace/files/other_formats/Planets_cleaned.csv

In [7]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Planet: string (nullable = true)
 |-- Mass   (10^24 kg): string (nullable = true)
 |-- Diameter (km): string (nullable = true)
 |-- Length of Day (hours): string (nullable = true)
 |-- Distance from Sun (106 km): string (nullable = true)
 |-- Orbital Period (days): string (nullable = true)
 |-- Orbital Velocity (km/s): string (nullable = true)
 |-- Mean Temperature (C): string (nullable = true)
 |-- Surface Pressure (bars): string (nullable = true)
 |-- Number of Moons: string (nullable = true)
 |-- Ring System?: string (nullable = true)
 |-- Global Magnetic Field?: string (nullable = true)
 |-- Day of first visit: string (nullable = true)
 |-- First successful mission: string (nullable = true)

In [8]:
df.columns

['_c0',
 'Planet',
 'Mass   (10^24 kg)',
 'Diameter (km)',
 'Length of Day\xa0(hours)',
 'Distance from Sun (106\xa0km)',
 'Orbital Period (days)',
 'Orbital Velocity\xa0(km/s)',
 'Mean Temperature\xa0(C)',
 'Surface Pressure\xa0(bars)',
 'Number of Moons',
 'Ring System?',
 'Global Magnetic Field?',
 'Day of first visit',
 'First successful mission']

In [9]:
df = df.drop('_c0')

In [10]:
df.columns

['Planet',
 'Mass   (10^24 kg)',
 'Diameter (km)',
 'Length of Day\xa0(hours)',
 'Distance from Sun (106\xa0km)',
 'Orbital Period (days)',
 'Orbital Velocity\xa0(km/s)',
 'Mean Temperature\xa0(C)',
 'Surface Pressure\xa0(bars)',
 'Number of Moons',
 'Ring System?',
 'Global Magnetic Field?',
 'Day of first visit',
 'First successful mission']

In [11]:
df.show(1)

+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|  Planet|Mass   (10^24 kg)|Diameter (km)|Length of Day (hours)|Distance from Sun (106 km)|Orbital Period (days)|Orbital Velocity (km/s)|Mean Temperature (C)|Surface Pressure (bars)|Number of Moons|Ring System?|Global Magnetic Field?|Day of first visit|First successful mission|
+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|MERCURY |             0.33|         4879|               4222.6|                      57.9|                 88.0|                   47.4|                 167|                      0|              0|          No|                   Yes|        1974-03-29|              Mariner 10|
+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
only showing top 1 row

In [12]:
df.columns

['Planet',
 'Mass   (10^24 kg)',
 'Diameter (km)',
 'Length of Day\xa0(hours)',
 'Distance from Sun (106\xa0km)',
 'Orbital Period (days)',
 'Orbital Velocity\xa0(km/s)',
 'Mean Temperature\xa0(C)',
 'Surface Pressure\xa0(bars)',
 'Number of Moons',
 'Ring System?',
 'Global Magnetic Field?',
 'Day of first visit',
 'First successful mission']

In [13]:
df = df.withColumnRenamed('Mass   (10^24 kg)', 'Mass') \
    .withColumnRenamed('Diameter (km)', 'Diameter') \
    .withColumnRenamed('Length of Day\xa0(hours)', 'DayLength') \
    .withColumnRenamed('Distance from Sun (106\xa0km)', 'SunDistance') \
    .withColumnRenamed('Orbital Period (days)', 'OrbitPeriod') \
    .withColumnRenamed('Orbital Velocity\xa0(km/s)', 'OrbitVelocity') \
    .withColumnRenamed('Mean Temperature\xa0(C)', 'MeanTemperature') \
    .withColumnRenamed('Surface Pressure\xa0(bars)', 'SurfacePressure') \
    .withColumnRenamed('Number of Moons', 'Moons') \
    .withColumnRenamed('Ring System?', 'Rings') \
    .withColumnRenamed('Global Magnetic Field?', 'MagneticField') \
    .withColumnRenamed('Day of first visit', 'FirstVisited') \
    .withColumnRenamed('First successful mission', 'FirstMission')

In [14]:
df.columns

['Planet',
 'Mass',
 'Diameter',
 'DayLength',
 'SunDistance',
 'OrbitPeriod',
 'OrbitVelocity',
 'MeanTemperature',
 'SurfacePressure',
 'Moons',
 'Rings',
 'MagneticField',
 'FirstVisited',
 'FirstMission']

In [15]:
df.show(1)

+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|  Planet|Mass|Diameter|DayLength|SunDistance|OrbitPeriod|OrbitVelocity|MeanTemperature|SurfacePressure|Moons|Rings|MagneticField|FirstVisited|FirstMission|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|MERCURY |0.33|    4879|   4222.6|       57.9|       88.0|         47.4|            167|              0|    0|   No|          Yes|  1974-03-29|  Mariner 10|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
only showing top 1 row

In [16]:
df.createOrReplaceTempView("planets")

In [17]:
spark.sql('select * from planets').show(3)

+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|  Planet|Mass|Diameter|DayLength|SunDistance|OrbitPeriod|OrbitVelocity|MeanTemperature|SurfacePressure|Moons|Rings|MagneticField|FirstVisited|FirstMission|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|MERCURY |0.33|    4879|   4222.6|       57.9|       88.0|         47.4|            167|              0|    0|   No|          Yes|  1974-03-29|  Mariner 10|
|  VENUS |4.87|   12104|   2802.0|      108.2|      224.7|         35.0|            464|             92|    0|   No|           No|  1962-08-27|   Mariner 2|
|  EARTH |5.97|   12756|     24.0|      149.6|      365.2|         29.8|             15|              1|    1|   No|          Yes|        null|        null|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
only showing top 3 rows

In [18]:
df.columns

['Planet',
 'Mass',
 'Diameter',
 'DayLength',
 'SunDistance',
 'OrbitPeriod',
 'OrbitVelocity',
 'MeanTemperature',
 'SurfacePressure',
 'Moons',
 'Rings',
 'MagneticField',
 'FirstVisited',
 'FirstMission']

In [19]:
# get info on planet Mercury
spark.sql("select Planet from planets").show()

+--------+
|  Planet|
+--------+
|MERCURY |
|  VENUS |
|  EARTH |
|   MOON |
|   MARS |
|JUPITER |
| SATURN |
| URANUS |
|NEPTUNE |
|   PLUTO|
+--------+

In [20]:
spark.sql('show tables').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  planets|       true|
+---------+---------+-----------+

In [21]:
spark.sql('select Planet, Mass, Diameter, DayLength from planets').show()

+--------+------+--------+---------+
|  Planet|  Mass|Diameter|DayLength|
+--------+------+--------+---------+
|MERCURY |  0.33|    4879|   4222.6|
|  VENUS |  4.87|   12104|   2802.0|
|  EARTH |  5.97|   12756|     24.0|
|   MOON | 0.073|    3475|    708.7|
|   MARS | 0.642|    6792|     24.7|
|JUPITER |1898.0|  142984|      9.9|
| SATURN | 568.0|  120536|     10.7|
| URANUS |  86.8|   51118|     17.2|
|NEPTUNE | 102.0|   49528|     16.1|
|   PLUTO|0.0146|    2370|    153.3|
+--------+------+--------+---------+

In [22]:
spark.sql('select count(Planet) from planets').show()

+-------------+
|count(Planet)|
+-------------+
|           10|
+-------------+

In [23]:
spark.sql('select Mass from planets').show()

+------+
|  Mass|
+------+
|  0.33|
|  4.87|
|  5.97|
| 0.073|
| 0.642|
|1898.0|
| 568.0|
|  86.8|
| 102.0|
|0.0146|
+------+

In [24]:
spark.sql('select max(Mass) from planets order by 1').show()

+---------+
|max(Mass)|
+---------+
|     86.8|
+---------+

In [25]:
spark.sql('select min(Mass) from planets order by 1').show()

+---------+
|min(Mass)|
+---------+
|   0.0146|
+---------+

In [26]:
df.describe()

DataFrame[summary: string, Planet: string, Mass: string, Diameter: string, DayLength: string, SunDistance: string, OrbitPeriod: string, OrbitVelocity: string, MeanTemperature: string, SurfacePressure: string, Moons: string, Rings: string, MagneticField: string, FirstVisited: string, FirstMission: string]

In [27]:
len(df.columns)

14

In [28]:
spark.sql('select Planet, FirstVisited from planets').show()

+--------+------------+
|  Planet|FirstVisited|
+--------+------------+
|MERCURY |  1974-03-29|
|  VENUS |  1962-08-27|
|  EARTH |        null|
|   MOON |  1959-09-12|
|   MARS |  1965-07-15|
|JUPITER |  1973-12-04|
| SATURN |  1979-09-01|
| URANUS |  1986-01-24|
|NEPTUNE |  1989-08-25|
|   PLUTO|  2015-07-14|
+--------+------------+

In [29]:
type(df)

pyspark.sql.dataframe.DataFrame

In [30]:
spark.sql("select current_date()").show()

+--------------+
|current_date()|
+--------------+
|    2022-03-30|
+--------------+

In [31]:
df.show(1)

+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|  Planet|Mass|Diameter|DayLength|SunDistance|OrbitPeriod|OrbitVelocity|MeanTemperature|SurfacePressure|Moons|Rings|MagneticField|FirstVisited|FirstMission|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
|MERCURY |0.33|    4879|   4222.6|       57.9|       88.0|         47.4|            167|              0|    0|   No|          Yes|  1974-03-29|  Mariner 10|
+--------+----+--------+---------+-----------+-----------+-------------+---------------+---------------+-----+-----+-------------+------------+------------+
only showing top 1 row

In [32]:
# what is the diamter of plabet Earth?
spark.sql("select Diameter from planets where Planet = 'Earth'").show()

+--------+
|Diameter|
+--------+
+--------+

BILLBOARD ANALYSIS

In [33]:
billboard = spark.read.csv('/Users/rob_the_programmer/Documents/programming/2022/statistics/statistics-python-workspace/files/other_formats/billboard.csv', header=True)

In [34]:
billboard.show(5)

22/03/30 19:52:28 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|year|    artist.inverted|               track|time|genre|date.entered|date.peaked|x1st.week|x2nd.week|x3rd.week|x4th.week|x5th.week|x6th.week|x7th.week|x8th.week|x9th.week|x10th.week|x11th.week|x12th.week|x13th.week|x14th.week|x15th.week|x16th.week|x17th.week|x18th.week|x19th.week|x20th.week|x21st.week|x22nd.week|x23rd.week|x24th.week|x25th.week|x26th.week|x27th.week|x28th.week|x29th.week|x30th.week|x31st.week|x32nd.week|x33rd.week|x34th.week|x35th.week|x36th.week|x37th.week|x38th.week|x39th.week|x40th.week|x41st.week|x42nd.week|x43rd.week|x44th.week|x45th.week|x46th.week|x47th.week|x48th.week|x49th.week|x50th.week|x51st.week|x52nd.week|x53rd.week|x54th.week|x55th.week|x56th.week|x57th.week|x58th.week|x59th.week|x60th.week|x61st.week|x62nd.week|x63rd.week|x64th.week|x65th.week|x66th.week|x67th.week|x68th.week|x69th.week|x70th.week|x71st.week|x72nd.week|x73rd.week|x74th.week|x75th.week|x76th.week|
+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|2000|    Destiny's Child|Independent Women...|3:38| Rock|  2000-09-23| 2000-11-18|       78|       63|       49|       33|       23|       15|        7|        5|        1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         2|         3|         7|        10|        12|        15|        22|        29|        31|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|            Santana|        Maria, Maria|4:18| Rock|  2000-02-12| 2000-04-08|       15|        8|        6|        5|        2|        3|        2|        2|        1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         8|        15|        19|        21|        26|        36|        48|        47|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|      Savage Garden|  I Knew I Loved You|4:07| Rock|  1999-10-23| 2000-01-29|       71|       48|       43|       31|       20|       13|        7|        6|        4|         4|         4|         6|         4|         2|         1|         1|         1|         2|         1|         2|         4|         8|         8|        12|        14|        17|        21|        24|        30|        34|        37|        46|        47|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|            Madonna|               Music|3:45| Rock|  2000-08-12| 2000-09-16|       41|       23|       18|       14|        2|        1|        1|        1|        1|         2|         2|         2|         2|         2|         4|         8|        11|        16|        20|        25|        27|        27|        29|        44|      null|      null|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|Aguilera, Christina|Come On Over Baby...|3:38| Rock|  2000-08-05| 2000-10-14|       57|       47|       45|       29|       23|       18|       11|        9|        9|        11|         1|         1|         1|         1|         4|         8|        12|        22|        23|        43|        44|        NA|        NA|        NA|      null|      null|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
only showing top 5 rows

In [36]:
billboard.columns

['year',
 'artist.inverted',
 'track',
 'time',
 'genre',
 'date.entered',
 'date.peaked',
 'x1st.week',
 'x2nd.week',
 'x3rd.week',
 'x4th.week',
 'x5th.week',
 'x6th.week',
 'x7th.week',
 'x8th.week',
 'x9th.week',
 'x10th.week',
 'x11th.week',
 'x12th.week',
 'x13th.week',
 'x14th.week',
 'x15th.week',
 'x16th.week',
 'x17th.week',
 'x18th.week',
 'x19th.week',
 'x20th.week',
 'x21st.week',
 'x22nd.week',
 'x23rd.week',
 'x24th.week',
 'x25th.week',
 'x26th.week',
 'x27th.week',
 'x28th.week',
 'x29th.week',
 'x30th.week',
 'x31st.week',
 'x32nd.week',
 'x33rd.week',
 'x34th.week',
 'x35th.week',
 'x36th.week',
 'x37th.week',
 'x38th.week',
 'x39th.week',
 'x40th.week',
 'x41st.week',
 'x42nd.week',
 'x43rd.week',
 'x44th.week',
 'x45th.week',
 'x46th.week',
 'x47th.week',
 'x48th.week',
 'x49th.week',
 'x50th.week',
 'x51st.week',
 'x52nd.week',
 'x53rd.week',
 'x54th.week',
 'x55th.week',
 'x56th.week',
 'x57th.week',
 'x58th.week',
 'x59th.week',
 'x60th.week',
 'x61st.week',
 'x62nd.week',
 'x63rd.week',
 'x64th.week',
 'x65th.week',
 'x66th.week',
 'x67th.week',
 'x68th.week',
 'x69th.week',
 'x70th.week',
 'x71st.week',
 'x72nd.week',
 'x73rd.week',
 'x74th.week',
 'x75th.week',
 'x76th.week']

In [37]:
billboard.printSchema()

root
 |-- year: string (nullable = true)
 |-- artist.inverted: string (nullable = true)
 |-- track: string (nullable = true)
 |-- time: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- date.entered: string (nullable = true)
 |-- date.peaked: string (nullable = true)
 |-- x1st.week: string (nullable = true)
 |-- x2nd.week: string (nullable = true)
 |-- x3rd.week: string (nullable = true)
 |-- x4th.week: string (nullable = true)
 |-- x5th.week: string (nullable = true)
 |-- x6th.week: string (nullable = true)
 |-- x7th.week: string (nullable = true)
 |-- x8th.week: string (nullable = true)
 |-- x9th.week: string (nullable = true)
 |-- x10th.week: string (nullable = true)
 |-- x11th.week: string (nullable = true)
 |-- x12th.week: string (nullable = true)
 |-- x13th.week: string (nullable = true)
 |-- x14th.week: string (nullable = true)
 |-- x15th.week: string (nullable = true)
 |-- x16th.week: string (nullable = true)
 |-- x17th.week: string (nullable = true)
 |-- x18th.week: string (nullable = true)
 |-- x19th.week: string (nullable = true)
 |-- x20th.week: string (nullable = true)
 |-- x21st.week: string (nullable = true)
 |-- x22nd.week: string (nullable = true)
 |-- x23rd.week: string (nullable = true)
 |-- x24th.week: string (nullable = true)
 |-- x25th.week: string (nullable = true)
 |-- x26th.week: string (nullable = true)
 |-- x27th.week: string (nullable = true)
 |-- x28th.week: string (nullable = true)
 |-- x29th.week: string (nullable = true)
 |-- x30th.week: string (nullable = true)
 |-- x31st.week: string (nullable = true)
 |-- x32nd.week: string (nullable = true)
 |-- x33rd.week: string (nullable = true)
 |-- x34th.week: string (nullable = true)
 |-- x35th.week: string (nullable = true)
 |-- x36th.week: string (nullable = true)
 |-- x37th.week: string (nullable = true)
 |-- x38th.week: string (nullable = true)
 |-- x39th.week: string (nullable = true)
 |-- x40th.week: string (nullable = true)
 |-- x41st.week: string (nullable = true)
 |-- x42nd.week: string (nullable = true)
 |-- x43rd.week: string (nullable = true)
 |-- x44th.week: string (nullable = true)
 |-- x45th.week: string (nullable = true)
 |-- x46th.week: string (nullable = true)
 |-- x47th.week: string (nullable = true)
 |-- x48th.week: string (nullable = true)
 |-- x49th.week: string (nullable = true)
 |-- x50th.week: string (nullable = true)
 |-- x51st.week: string (nullable = true)
 |-- x52nd.week: string (nullable = true)
 |-- x53rd.week: string (nullable = true)
 |-- x54th.week: string (nullable = true)
 |-- x55th.week: string (nullable = true)
 |-- x56th.week: string (nullable = true)
 |-- x57th.week: string (nullable = true)
 |-- x58th.week: string (nullable = true)
 |-- x59th.week: string (nullable = true)
 |-- x60th.week: string (nullable = true)
 |-- x61st.week: string (nullable = true)
 |-- x62nd.week: string (nullable = true)
 |-- x63rd.week: string (nullable = true)
 |-- x64th.week: string (nullable = true)
 |-- x65th.week: string (nullable = true)
 |-- x66th.week: string (nullable = true)
 |-- x67th.week: string (nullable = true)
 |-- x68th.week: string (nullable = true)
 |-- x69th.week: string (nullable = true)
 |-- x70th.week: string (nullable = true)
 |-- x71st.week: string (nullable = true)
 |-- x72nd.week: string (nullable = true)
 |-- x73rd.week: string (nullable = true)
 |-- x74th.week: string (nullable = true)
 |-- x75th.week: string (nullable = true)
 |-- x76th.week: string (nullable = true)

In [39]:
billboard.createOrReplaceTempView("billboard")

In [40]:
spark.sql('select * from billboard').show(5)

+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|year|    artist.inverted|               track|time|genre|date.entered|date.peaked|x1st.week|x2nd.week|x3rd.week|x4th.week|x5th.week|x6th.week|x7th.week|x8th.week|x9th.week|x10th.week|x11th.week|x12th.week|x13th.week|x14th.week|x15th.week|x16th.week|x17th.week|x18th.week|x19th.week|x20th.week|x21st.week|x22nd.week|x23rd.week|x24th.week|x25th.week|x26th.week|x27th.week|x28th.week|x29th.week|x30th.week|x31st.week|x32nd.week|x33rd.week|x34th.week|x35th.week|x36th.week|x37th.week|x38th.week|x39th.week|x40th.week|x41st.week|x42nd.week|x43rd.week|x44th.week|x45th.week|x46th.week|x47th.week|x48th.week|x49th.week|x50th.week|x51st.week|x52nd.week|x53rd.week|x54th.week|x55th.week|x56th.week|x57th.week|x58th.week|x59th.week|x60th.week|x61st.week|x62nd.week|x63rd.week|x64th.week|x65th.week|x66th.week|x67th.week|x68th.week|x69th.week|x70th.week|x71st.week|x72nd.week|x73rd.week|x74th.week|x75th.week|x76th.week|
+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|2000|    Destiny's Child|Independent Women...|3:38| Rock|  2000-09-23| 2000-11-18|       78|       63|       49|       33|       23|       15|        7|        5|        1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         2|         3|         7|        10|        12|        15|        22|        29|        31|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|            Santana|        Maria, Maria|4:18| Rock|  2000-02-12| 2000-04-08|       15|        8|        6|        5|        2|        3|        2|        2|        1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         8|        15|        19|        21|        26|        36|        48|        47|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|      Savage Garden|  I Knew I Loved You|4:07| Rock|  1999-10-23| 2000-01-29|       71|       48|       43|       31|       20|       13|        7|        6|        4|         4|         4|         6|         4|         2|         1|         1|         1|         2|         1|         2|         4|         8|         8|        12|        14|        17|        21|        24|        30|        34|        37|        46|        47|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|            Madonna|               Music|3:45| Rock|  2000-08-12| 2000-09-16|       41|       23|       18|       14|        2|        1|        1|        1|        1|         2|         2|         2|         2|         2|         4|         8|        11|        16|        20|        25|        27|        27|        29|        44|      null|      null|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
|2000|Aguilera, Christina|Come On Over Baby...|3:38| Rock|  2000-08-05| 2000-10-14|       57|       47|       45|       29|       23|       18|       11|        9|        9|        11|         1|         1|         1|         1|         4|         8|        12|        22|        23|        43|        44|        NA|        NA|        NA|      null|      null|      null|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|
+----+-------------------+--------------------+----+-----+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
only showing top 5 rows

In [44]:
billboard = billboard.withColumnRenamed('artist.inverted', 'artist')

In [45]:
billboard.columns

['year',
 'artist',
 'track',
 'time',
 'genre',
 'date.entered',
 'date.peaked',
 'x1st.week',
 'x2nd.week',
 'x3rd.week',
 'x4th.week',
 'x5th.week',
 'x6th.week',
 'x7th.week',
 'x8th.week',
 'x9th.week',
 'x10th.week',
 'x11th.week',
 'x12th.week',
 'x13th.week',
 'x14th.week',
 'x15th.week',
 'x16th.week',
 'x17th.week',
 'x18th.week',
 'x19th.week',
 'x20th.week',
 'x21st.week',
 'x22nd.week',
 'x23rd.week',
 'x24th.week',
 'x25th.week',
 'x26th.week',
 'x27th.week',
 'x28th.week',
 'x29th.week',
 'x30th.week',
 'x31st.week',
 'x32nd.week',
 'x33rd.week',
 'x34th.week',
 'x35th.week',
 'x36th.week',
 'x37th.week',
 'x38th.week',
 'x39th.week',
 'x40th.week',
 'x41st.week',
 'x42nd.week',
 'x43rd.week',
 'x44th.week',
 'x45th.week',
 'x46th.week',
 'x47th.week',
 'x48th.week',
 'x49th.week',
 'x50th.week',
 'x51st.week',
 'x52nd.week',
 'x53rd.week',
 'x54th.week',
 'x55th.week',
 'x56th.week',
 'x57th.week',
 'x58th.week',
 'x59th.week',
 'x60th.week',
 'x61st.week',
 'x62nd.week',
 'x63rd.week',
 'x64th.week',
 'x65th.week',
 'x66th.week',
 'x67th.week',
 'x68th.week',
 'x69th.week',
 'x70th.week',
 'x71st.week',
 'x72nd.week',
 'x73rd.week',
 'x74th.week',
 'x75th.week',
 'x76th.week']

In [51]:
spark.sql('select year, track, genre from billboard').show()

+----+--------------------+-------+
|year|               track|  genre|
+----+--------------------+-------+
|2000|Independent Women...|   Rock|
|2000|        Maria, Maria|   Rock|
|2000|  I Knew I Loved You|   Rock|
|2000|               Music|   Rock|
|2000|Come On Over Baby...|   Rock|
|2000|Doesn't Really Ma...|   Rock|
|2000|         Say My Name|   Rock|
|2000|         Be With You|  Latin|
|2000|          Incomplete|   Rock|
|2000|              Amazed|Country|
|2000|    It's Gonna Be Me|   Rock|
|2000|   What A Girl Wants|   Rock|
|2000| Everything You Want|   Rock|
|2000| With Arms Wide Open|   Rock|
|2000|           Try Again|   Rock|
|2000|                Bent|   Rock|
|2000|Thank God I Found...|   Rock|
|2000|             Breathe|    Rap|
|2000|Case Of The Ex (W...|   Rock|
|2000|      He Loves U Not|   Rock|
+----+--------------------+-------+
only showing top 20 rows

In [52]:
spark.sql('select track, year, genre from billboard where genre = "Pop"').show()

+--------------------+----+-----+
|               track|year|genre|
+--------------------+----+-----+
|  Bring It All To Me|2000|  Pop|
|I Think I'm In Lo...|2000|  Pop|
|Don't Say You Lov...|2000|  Pop|
| I Wanna Be With You|2000|  Pop|
| Another Dumb Blonde|2000|  Pop|
|   I Will Love Again|2000|  Pop|
|       Mirror Mirror|2000|  Pop|
|      I'm Outta Love|2000|  Pop|
|       Dancing Queen|2000|  Pop|
+--------------------+----+-----+