In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext()
sc

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/30 13:41:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
22/03/30 13:41:03 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.

In [4]:
spark = SparkSession.builder.appName("Python Spark SQL basic example").getOrCreate()
spark

In [18]:
df = spark.read.format("csv") \
                .option("header", "true") \
                .load("/Users/rob_the_programmer/Documents/programming/2022/statistics/statistics-python-workspace/files/other_formats/Planets_cleaned.csv")

In [19]:
df.show(10)

+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|_c0|  Planet|Mass   (10^24 kg)|Diameter (km)|Length of Day (hours)|Distance from Sun (106 km)|Orbital Period (days)|Orbital Velocity (km/s)|Mean Temperature (C)|Surface Pressure (bars)|Number of Moons|Ring System?|Global Magnetic Field?|Day of first visit|First successful mission|
+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|  0|MERCURY |             0.33|         4879|               4222.6|                      57.9|                 88.0|                   47.4|                 167|                      0|              0|          No|                   Yes|        1974-03-29|              Mariner 10|
|  1|  VENUS |             4.87|        12104|               2802.0|                     108.2|                224.7|                   35.0|                 464|                     92|              0|          No|                    No|        1962-08-27|               Mariner 2|
|  2|  EARTH |             5.97|        12756|                 24.0|                     149.6|                365.2|                   29.8|                  15|                      1|              1|          No|                   Yes|              null|                    null|
|  3|   MOON |            0.073|         3475|                708.7|                    0.384*|                 27.3|                    1.0|                 -20|                      0|              0|          No|                    No|        1959-09-12|                  Luna 2|
|  4|   MARS |            0.642|         6792|                 24.7|                     227.9|                687.0|                   24.1|                 -65|                   0.01|              2|          No|                    No|        1965-07-15|               Mariner 4|
|  5|JUPITER |           1898.0|       142984|                  9.9|                     778.6|               4331.0|                   13.1|                -110|               Unknown*|             67|         Yes|                   Yes|        1973-12-04|              Pioneer 10|
|  6| SATURN |            568.0|       120536|                 10.7|                    1433.5|              10747.0|                    9.7|                -140|               Unknown*|             62|         Yes|                   Yes|        1979-09-01|              Pioneer 11|
|  7| URANUS |             86.8|        51118|                 17.2|                    2872.5|              30589.0|                    6.8|                -195|               Unknown*|             27|         Yes|                   Yes|        1986-01-24|               Voyager 2|
|  8|NEPTUNE |            102.0|        49528|                 16.1|                    4495.1|              59800.0|                    5.4|                -200|               Unknown*|             14|         Yes|                   Yes|        1989-08-25|               Voyager 2|
|  9|   PLUTO|           0.0146|         2370|                153.3|                    5906.4|              90560.0|                    4.7|                -225|                  1e-05|              5|          No|               Unknown|        2015-07-14|            New Horizons|
+---+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+

22/03/30 14:06:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Planet, Mass   (10^24 kg), Diameter (km), Length of Day (hours), Distance from Sun (106 km), Orbital Period (days), Orbital Velocity (km/s), Mean Temperature (C), Surface Pressure (bars), Number of Moons, Ring System?, Global Magnetic Field?, Day of first visit, First successful mission
 Schema: _c0, Planet, Mass   (10^24 kg), Diameter (km), Length of Day (hours), Distance from Sun (106 km), Orbital Period (days), Orbital Velocity (km/s), Mean Temperature (C), Surface Pressure (bars), Number of Moons, Ring System?, Global Magnetic Field?, Day of first visit, First successful mission
Expected: _c0 but found:
CSV file: file:///Users/rob_the_programmer/Documents/programming/2022/statistics/statistics-python-workspace/files/other_formats/Planets_cleaned.csv

In [20]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Planet: string (nullable = true)
 |-- Mass   (10^24 kg): string (nullable = true)
 |-- Diameter (km): string (nullable = true)
 |-- Length of Day (hours): string (nullable = true)
 |-- Distance from Sun (106 km): string (nullable = true)
 |-- Orbital Period (days): string (nullable = true)
 |-- Orbital Velocity (km/s): string (nullable = true)
 |-- Mean Temperature (C): string (nullable = true)
 |-- Surface Pressure (bars): string (nullable = true)
 |-- Number of Moons: string (nullable = true)
 |-- Ring System?: string (nullable = true)
 |-- Global Magnetic Field?: string (nullable = true)
 |-- Day of first visit: string (nullable = true)
 |-- First successful mission: string (nullable = true)

In [21]:
df.columns

['_c0',
 'Planet',
 'Mass   (10^24 kg)',
 'Diameter (km)',
 'Length of Day\xa0(hours)',
 'Distance from Sun (106\xa0km)',
 'Orbital Period (days)',
 'Orbital Velocity\xa0(km/s)',
 'Mean Temperature\xa0(C)',
 'Surface Pressure\xa0(bars)',
 'Number of Moons',
 'Ring System?',
 'Global Magnetic Field?',
 'Day of first visit',
 'First successful mission']

In [24]:
df = df.drop('_c0')

In [25]:
df.columns

['Planet',
 'Mass   (10^24 kg)',
 'Diameter (km)',
 'Length of Day\xa0(hours)',
 'Distance from Sun (106\xa0km)',
 'Orbital Period (days)',
 'Orbital Velocity\xa0(km/s)',
 'Mean Temperature\xa0(C)',
 'Surface Pressure\xa0(bars)',
 'Number of Moons',
 'Ring System?',
 'Global Magnetic Field?',
 'Day of first visit',
 'First successful mission']

In [26]:
df.show(1)

+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|  Planet|Mass   (10^24 kg)|Diameter (km)|Length of Day (hours)|Distance from Sun (106 km)|Orbital Period (days)|Orbital Velocity (km/s)|Mean Temperature (C)|Surface Pressure (bars)|Number of Moons|Ring System?|Global Magnetic Field?|Day of first visit|First successful mission|
+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
|MERCURY |             0.33|         4879|               4222.6|                      57.9|                 88.0|                   47.4|                 167|                      0|              0|          No|                   Yes|        1974-03-29|              Mariner 10|
+--------+-----------------+-------------+---------------------+--------------------------+---------------------+-----------------------+--------------------+-----------------------+---------------+------------+----------------------+------------------+------------------------+
only showing top 1 row